<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'author_quotes/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <header>
        <h1>Welcome {{ user.first_name }}!</h1>
        <a href='/myaccount/{{ user.id }}'>Edit My Account</a>
        <a href='/logout'>Log Out</a>
    </header>
    <main>
        <div class="quotes col-6">
            <h3>Quotes</h3>
            {% for quote in postQuote %}
            <div class="postQuote col-6">
                <p id="author">{{ quote.author }}</p>
                <p>"{{ quote.quote }}"</p>
                <h5>Posted by: <a href="/show/{{ quote.id }} ">{{ quote.posted_by }}</a></h5>
                <p class="col-10">{{ quote.likes }} people like this</p>
                <form id="like" class="col-1 form-group" action="/like/{{ quote.id }}" method="POST">
                    {% csrf_token %}
                    <input id="like" type="submit" value="like">
                </form>
                {% if quote.delete_id == quote.current_user %}
                <a id="delete" href="/delete_quote/{{ quote.id }}">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="create_quote col-5">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form id="create_quote" class="col-6 form-group" action="/create/{{ user.id }}" method="POST">
                {% csrf_token %}
                <label for="author">Author Name:</label><br>
                <input id="author" class="" type="text" name="author" placeholder="Author Name"><br>
                <label for="quote">Quote:</label><br>
                <textarea class="col-12" name="quote"></textarea><br>
                <input id="quote" class="submit" type="submit" value="Post a Quote">
            </form>
        </div>






    </main>

</body>

</html>